@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #3B82F6;
    --primary-hover-color: #2563EB;
  }

  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .btn {
    @apply font-semibold py-2 px-4 rounded-md transition duration-300 ease-in-out;
  }

  .btn-primary {
    @apply bg-blue-500 text-white hover:bg-blue-600;
  }

  .btn-secondary {
    @apply bg-gray-200 text-gray-800 hover:bg-gray-300;
  }

  .btn-green {
    @apply bg-green-500 text-white hover:bg-green-600;
  }
}